{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "chai": true,
    "sinon": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  }
}