{
  "presets": [
    "react",
    ["latest", {"modules": false}]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "ignore": [
    "test/setup.js"
  ]
}