{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "installedESLint": true,
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__dirname": true,
    "process": true,
    "L": true
  },
  "rules": {
    "indent": [
      "error",
      4,
      { "SwitchCase": 1 }
    ],
    "no-var": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "settings": {
  }
}