@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

html, body, #root, #router, .mainContainer, #mainMap {
  height: 100%;
}

form table td:first-child {
  padding-top: 16px;
}