@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
html, body, #root, .mainContainer, #mainMap {
    height: 100%;
}

.MainMenu {
    position: fixed;
    top: 100px;
    right:100px;
    z-index:50000;
}
.LoginArea {
    position: fixed;
    bottom: 100px;
    right:100px;
    z-index:50000;
}